@main-color: #9bb9e0;
@back-color: #d1d1d1;
@text-color: #000;
@main-font: Arial;

html {
  margin: 0;
}

body {
  color: @text-color;
  background: @back-color;
  font-family: @main-font;
  margin: 0;
}

#menu {
  color: @text-color;
  background: @main-color;
}

.active.item {
  font-weight: bold;
}
