body {
  margin: 0;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: url(../img/bg/bg-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
section h1 {
}
h2 * {
  display: inline-block;
}
a {
  color: #544d87;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.ui.sidebar {
  background: #544d87;
  border-right: 2px solid;
}
.ui.sidebar .content {
  color: white;
  margin-left: 15px;
}
.mini-bar {
  height: 100%;
  position: absolute;
  background: #544d87;
  border-right: 2px solid;
}
.ui.sidebar p {
  margin: 5px;
  font-size: 25px;
}
.ui.sidebar p i {
  position: absolute;
  left: 240px;
}
.ui.sidebar h2 {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
#menu {
  width: 100%;
  border-radius: 0;
}
#inmenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#menu, #inmenu {
  background: #5EAA63
}
#share {
  margin-top: 30%;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer p {
  margin: 0px;
  text-align: center;
}
/********
 * FONT *
 ********/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}