<webcam ng-hide="snap" on-stream="onStream(stream,video)"
        on-access-denied="onError(err)"
        on-streaming="onSuccess(video)">
</webcam>
<canvas ng-show="snap" id="takenPhoto"></canvas>
<br>
<material-button class="material-theme-yellow" ng-hide="snap" ng-click="takePhoto()" >Take a photo</material-button>
<material-button class="material-theme-orange" ng-show="snap" ng-click="snap = false">Take another</material-button>
<material-button class="material-theme-green" ng-click="sharePhoto()">Share it</material-button>
