<div class="ui one column grid">
	<div class="column" style="text-align: center;">

		<!-- SENDER -->
		<div ng-show="sender">

			<div ng-hide="shared">
				<p>Please, share anything</p>

				<material-button class="material-button-fab material-theme-light-blue" ui-sref="room.camera">
					Camera
				</material-button>
				<material-button class="material-button-fab material-theme-green" ui-sref="room.image">
					Image
				</material-button>
				<material-button class="material-button-fab material-theme-light-blue" ui-sref="room.draw">
					Draw
				</material-button>
				<material-button class="material-button-fab material-theme-green" ui-sref="room.url">
					URL
				</material-button>

				<div ui-view></div>
			</div>

			<div ng-show="shared">
				<p>Please, wait the vote</p>
				<div id="sentShare"></div>
			</div>
		</div>

		<!-- RECEIVER -->
		<div ng-show="receiver">

			<div ng-show="wait">
				<p>Please, wait the share</p>
			</div>

			<div ng-hide="wait">
				<p>You got something ! How is it ?</p>
				<div id="receivedShare"></div>
				<material-button class="material-theme-green funVote" ng-click="voteFun()">Fun</material-button>
				<material-button class="material-theme-red badVote" ng-click="voteBad()">Bad</material-button>
			</div>

		</div>
		<div id="history" style="display: none;"></div>
	</div>
</div>
