#endOfCommunication,
#cameraShareBox,
#currentHistory,
#imageShareBox,
#drawShareBox,
#imageToShare,
#urlShareBox,
#voteBox,
#waiting,
#inTouch {
	display: none;
}

#lastShare img {
	max-width: 650px;
	max-height: 480px;
}
